# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
venv_lstm/
# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable files
.env


# macOS
.DS_Store
